body { 
	background-color: #041943;

}
.logo {

	display:block;
}
h2 {
	color: #292929;
	text-align: center;
	font-family: arial;
	font-size: 22px;
	font-wrap: normal;
}
.container {
	align-items: center;
	display: flex;
	padding-bottom:-20px;
	justify-content: center;
	flex-direction: row;
	margin-left:0px;
}
.container > div {
	background-color: white;
	margin: 7px;
	padding: 5px;
	line-height: 1.2;
	letter-spacing:normal;
	font-size: 30px;
	width: 210px;
	height: 360px;
	margin-bottom:30px;
}

.container > div:hover{
	padding: 0px;
	border:5px solid #828282;
}
.price {
	color: #f00000;
	line-height: 0;
	font-size: 25px;
	font-family: arial;
	text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.company {
	margin-top:-35px;
	justify-content: center;
	align-items: center;
	background-color: #dbdbdb;
	text-align:center;
	padding-right:0px;
	padding-top:-20px;
	line-height:1.3;
	padding-bottom:0px;
	font-family:Arial;
	font-weight:900;
	font-size:30px;
	letter-spacing: -3px;
	color:#292929;
	margin-left:-10px;
	margin-right:-90px;

}
.company2 {

	background-color: black;
	text-align:center;
	justify-content: center;
	align-items: center;
	padding-right:0px;
	padding-top:0px;
	line-height:1.3;
	padding-bottom:0px;
	font-family:Arial;
	font-weight:900;
	font-size:30px;
	letter-spacing: -3px;
	color:white;
	margin-left:-10px;
	margin-right:-90px;
}

.use {
	margin-top:-30px;


}
.companylogo {
	width:70px;
	height:47px;
	display:inline;
	padding-left:10px;

}
.companylogo2 {
	width:65px;
	height:65px;
	display:inline;
	padding-left:10px;
}

.top {
	display: flex;
	padding-bottom:-20px;
	flex-direction: row;
	margin-left:0px;
	justify-content: center;
}
.top2 {
	margin-left:20px;
}
.top3 {
	margin-left:80px;
}

.meta {
	justify-content: center;
}